nav {
  display: flex;
  position: fixed;
  right: -46rem;
  bottom: 10rem;
  justify-content: space-between;
  width: 50rem;
  padding: 1rem;
  transition: right 0.3s ease;
  background: $brand-gray;

  &:hover {
    right: 0;
    transition: right 0.3s ease;
  }
}

.nav-icon {
  color: $brand-highlight;
  font-size: 4rem;
  font-weight: bolder;
}

.nav-links {

}

.nav-item {
  display: block;
  padding: 0.4rem;
}
